
@import "~bootstrap/dist/css/bootstrap.min.css";


#picture{
    display: flex;
    width: 45%;
    height: 65%;
    margin:auto;
    border-radius: 200px;
    margin-top: 20px;
    margin-left:350px;
}

#contact{
    
    text-align: center;
    color: white;
    font-family: Cambria;
    text-shadow: 2px 2px 4px #000000;
}
.b-contact{
    
    text-align: center;
    border-radius: 10px;
    background-color: #f2f2f2;
    
}
.p-contact{
  
    font-family: Cambria;
    text-shadow: 2px 2px 4px #000000;
    color: #000000;
    font-size: 50px;
}