
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    background-image: url("https://ak.picdn.net/shutterstock/videos/1027045598/thumb/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
;
}